# Domain for the MX
DOMAIN=example.com
# The email that is sending transaction alerts to the MX
FORWARDING_EMAIL=outgoing@gmail.com
# The MX user that receives the transaction alerts
RECEIVING_EMAIL_USER=incoming
RECEIVING_EMAIL_PASSWORD=1234

# Local development only
# An .mbox file in ./docker/mailserver/test_data you'd like pre-loaded into the MX
PRE_LOAD_MBOX=example_data/transaction_emails.mbox

# DigitalOcean API/ Ansible Playbook
DO_API_TOKEN=abcdefghijklmnop
# Quotes must be used around the public key otherwise you get the error: 
# .env: line 11: abcdefghijklm: No such file or directory
EPHEM_SSH_PUBLIC_KEY='ssh-ed25519 abcdefghijklm kfike@cutie'
EPHEM_SSH_PRIVATE_KEY_FILE_PATH='~/.ssh/sage_prod'
PROD_SSH_PUBLIC_KEY='ssh-ed25519 nopqrstuvwxyz kfike@cutie'
PROD_SSH_PRIVATE_KEY_FILE_PATH='~/.ssh/sage_ephem'
SERVER_USER=tpain
SERVER_USER_PASSWORD=immaBuyUaDrankoooweeuuuuuu
# If multiple IPs are listed, separate them with a comma, then a space. 
# E.g. '0.0.0.0/0, 1.2.3.4'
SSH_ALLOWED_PUBLIC_IPS='0.0.0.0/0'

# Postgres
# The 4 env vars below are namespaced for initialization https://hub.docker.com/_/postgres
# Warning: don't change these env var names or DB init will break
POSTGRES_HOST=localhost
POSTGRES_DB=sage
POSTGRES_USER=admin
POSTGRES_PASSWORD=adminsuperuserpassword
# Password for the Postgres role named ETL
POSTGRES_ETL_PASSWORD=etlapppassword
# Password for the Postgres role named grafanareader
POSTGRES_GRAFANA_PASSWORD=grafanapassword
POSTGRES_GRAFANA_SSL_MODE=disable

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=1234